
<h1>Listing Potluck Events</h1>

<table id="customers" style="width:100%;">
  <tr>
    <th>Name</th>
    <th>Date of event</th>
    <th>Venue</th>
    <th>Description</th>
    <th>Organizing team</th>
    <th>Menu</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%  now = DateTime.now %>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.date_of_event %></td>
    <td><%= event.venue %></td>
    <td><%= event.description %></td>
    <td><%= event.organizing_team[10..-1]%></td>
    
    <td>
    <%if event.menu_file_name %>
    <%= link_to event.menu_file_name, event.menu.url(:original, false) %>
    <%else%>
    Not uploaded yet<%end%>
    </td>
    <%  unless event.date_of_event < now %>
    <td><%= link_to 'Click to Participate!', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>    
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <%else%>
    <td><%= link_to 'See Participant List', event %></td>
    <td colspan="2">Event already occurred </td>
  <%end%>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
