<!DOCTYPE html>
<html>
<head>
  <title>PotluckNew</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%if user_signed_in?%>
  <h3 style="color: #A7C942">Welcome <%= current_user.name.capitalize %></h3>
  <h4 id="signout" style="color: grey;"><%= link_to 'Sign Out', destroy_user_session_path %></h4>
<%end%>



  
<%= yield %>


</body>
</html>
