<!DOCTYPE html>
<html>
<head>
  <title>PotluckNew</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%if user_signed_in?%>
  <p><b>Welcome <%= current_user.name.capitalize %></b></p>
  <p id="signout"><%= link_to 'Sign Out', destroy_user_session_path %></p>
<%end%>

  <h4><%= link_to 'Home', events_path %></h4>

  
<%= yield %>


</body>
</html>
